* {
    cursor: url('cursor.png'), auto;
}
*:active {
    cursor: url('cursor2.png'), auto;
}

body {
    overflow: hidden;
    background-color: rgba(223, 217, 192, 0.603);
    display: flex;
    flex-direction: row;
}
body:active {
    cursor: url('cursor2.png'), auto;
}


/* SELEÇÃO TEXTO */

::-moz-selection { /* Code for Firefox */
    background: lightcoral;
  }
  ::selection {
    background: lightcoral;
  }

h1, h3, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 3.4vw;
}

#mklivro {
    width: 75vh;
    height: auto;
    margin-left: 5vw;
    margin-top: 5vh;
    z-index: 10;
    user-select: none;
}
#estrela {
    animation: rotating 30s linear infinite;
    position: absolute;
    width: 42vh;
    left: 1.2vw;
    height: auto;
    top: 2vh;
    z-index: -1;


}

/* TEXTOS */

#txt-box {
    height: 45vh;
    margin-right: 5vw;
    margin-left: -2vw;
}

#titulo {
    font-size: 11vw;
    font-family: 'Bebas Neue', cursive;
    margin-left: 3.4vw;
    margin-right: 5vh;
}

#txt1 {
    font-size: 3vw;
    margin-top: 17vh;
}

#subt {
    font-size: 4vw;
    margin-top: -1.5vw;
}

#autora {
    font-size: 1.8vw;
    margin-left: 52%;
}

#maisInfo {
    font-size: 1.3vw;
    margin-top: 16%;
}



/* ANIMAÇAO ROTACAO */
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }












/* VERTICAL */

/* @media (max-aspect-ratio: 16/12) */
@media (orientation: portrait)
{
    body {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    #txt1 {
        font-size: 3vw;
        margin-top: 0vh;
    }
    #estrela {
        display: none;
    }

    #mklivro {
        width: 45vh;
        margin-top: 5vh;
    }

    #titulo {
        font-size: 20vw;
    }
    #txt1 {
        font-size: 7vw;
    }
    #txt-box {
        margin: 0;
        
    }
    #subt {
        font-size: 6vw;
    }

    #autora {
        font-size: 4vw;
        margin-left: 5vw;
        margin-top: 2vh
    }
    
    #maisInfo {
        font-size: 4vw;
        margin-top: 0;
        margin-top: 2vh;
    }

}
