body {
    overflow-y: hidden;
    overflow-x: hidden;
}

#gridA {
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
}
#gridB {
    /* background-color: lime; */
    display: flex;
    flex-direction: column;
}

/* .corr {
    position: absolute;
    width: 40%;
    height: auto;
    top: -4%;
    left: 60vh;
    z-index: 1;
}
#corr1 {
    left: 74vh;
    top: -13%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
} */

#livros {
    width: 60vw;
    margin-left: -6%;
    margin-top: 8%;
    height: auto;
    z-index: 2;
}
.txt {
    margin-left: -10vw;
    align-self: center;
}
#txt1 {
    margin-top: 20vh;
}
#titulo {
    font-size: 7vw;
    align-self: center;
}
#txt2 {
    align-self: flex-end;
    margin-right: 5vw;
    margin-top: 5vh;
}
#subt {
    align-self: center;
}
figure {
    margin-top: 10vh;
    position: relative;
    /* background-color: royalblue; */
}
#estrela {
    position: absolute;
    top: 10vh;
    left: 10vh;
    height: 70%;
    width: auto;
    z-index: -1;
}

@media (max-width: 980px)
{
    #gridA {background-color: lime;}
    #gridB {
        background-color: magenta;
    }
    .txt {
        font-size: 6vw;
        margin-left: 0;
    }
    #titulo {
        font-size: 10vw;
    }
    #txt1 {
        margin-top: 5vh;
    }
    #estrela {
        width: auto;
        height: max-content;
        left: 0;
        top: 0;
        position: absolute;
        top: -20vh;
    }
    #livros {
        width: 110vw;
        height: auto;
        z-index: 2;
        position: relative;
        top: -20vh;
    }
 }